[submodule "bundle/vimcolorschemes"]
	path = bundle/vimcolorschemes
	url = https://github.com/vimcolorschemes/vimcolorschemes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/yggdroot/indentline
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
